.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
bower_components/
node/
node_modules/
css/theme/white.css
css/reveal.css
css/theme/*.css
npm-debug.log
/nbproject/private/
target/reveal-js-presentation-*.zip