//.npmrc
registry = https://my.is2.de/artifactory/api/npm/npm-virtual/
_auth = YnVpbGRtYXN0ZXI6QUtDcDJWNXlSb1RBak5leHlSZFJ6S1BwaUc1VGlaQmdueVhrWk52VDJKOVJxRG5FaWFGOGoxM1VuajFwTDVYVkxUZ1VBN3h5cA==
always-auth = true
